<div class="container-fluid">
    <h1 class="metaverse-heading">Metaverses</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <div class="card">
                        <img src="./../assets/images/decentraland-logo.png" class="card-img-top" alt="decentraland-logo">
                        <div class="card-body">
                            <h4 class="card-title">Decentraland</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="/decentraland" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/sandbox-logo.png" class="card-img-top" alt="sandbox-logo">
                        <div class="card-body">
                            <h4 class="card-title">Sandbox</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/cryptovoxels-logo.png" class="card-img-top" alt="cryptovoxels-logo">
                        <div class="card-body">
                            <h4 class="card-title">Cryptovoxels</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/axie-logo.png" class="card-img-top" alt="axie-logo">
                        <div class="card-body">
                            <h4 class="card-title">Axie Infinity</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="./../assets/images/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Metaverse</h4>
                            <p class="card-text">Find virtual land for sale, rent and sold</p>
                            <a routerLink="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>