<div class="container">
    <nav class="navbar navbar-expand-lg bg-">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">MetaDetector</a>
        </div>
        <div id="navbarNav" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" routerLink="test">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Market-Tracker</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" routerLink="login">User page</a></li>
            </ul>
        </div>
        <!--/.nav-collapse --> 
    </nav>
</div>