<div class="container fluid">
    <h1 class="header">Hi, {{ user?.displayName }}</h1>
    <br />

    <table class="table table-dark">
        <thead>
            <h3>Your favorite estates</h3>
          <tr>
            <th scope="col">Estate ID</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of favoritesList">
            <th scope="row">{{item}}</th>
            <td> <a class="a-tag-color" routerLink="/decentraland/estate/{{item}}"><b>View Estate Details</b></a></td>
          </tr>
        </tbody>
      </table>
</div>