<!--<div class="container-fluid">
    <h2>Due Diligence</h2>
    <div class="row">
        <div class="col-xs-3">
            <div class="well" onclick="displayBuyerSellerInfo(true);">
                <h3>Buyer Info</h3>
                <p>Learn more about purchasing virtual land in the metaverse</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="well" onclick="displayBuyerSellerInfo(false);">
                <h3>Seller Info</h3>
                <p>Learn more about selling virtual land in the metaverse</p>
            </div>
        </div>
    </div>
</div>-->

<div class="container-fluid">    
<h1 class="dd-heading">Due Diligence</h1>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Buyer Info</h5>
          <p class="card-text">Learn more about purchasing virtual land in the metaverse</p>
          <a routerLink="buyerDD" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Seller info</h5>
          <p class="card-text">Learn more about selling virtual land in the metaverse</p>
          <a href="sellerDD" class="btn btn-primary">Sell</a>
        </div>
      </div>
    </div>
  </div>
</div>